@model Krustan.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.UserNotFound != null)
{
    if (ViewBag.UserNotFound)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Warning:</strong> Please complete your registration.
            <form method="get" asp-action="CompleteRegistration" asp-controller="Account">
                <input type="hidden" name="uniqueId" value="@Model.UniqueId" />
                <input type="hidden" name="email" value="@Model.Email" />
                <input type="hidden" name="name" value="@Model.Name" />
                <input type="hidden" name="nickname" value="@Model.Nickname" />
                <input type="hidden" name="profilePicture" value="@Model.ProfileImage" />
                <button type="submit" class="btn btn-dark btn-sm">
                    Complete now
                </button>
            </form>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
@if (ViewBag.Success != null)
{
    if (ViewBag.Success)
    {
        if (ViewBag.Info != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Warning:</strong> @ViewBag.Info
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
    else
    {
        if (ViewBag.Info != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Warning:</strong> @ViewBag.Info
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
}
<div class="row">
    <div class="col" align="center">
        <img asp-append-version="true" src="@Model.ProfileImage" class="img-thumbnail"
             alt="@Model.Name"
             style="border-radius:50%;width:250px;margin-top:25px;">
        <div style="margin:11px;">
            <h4 style="font-family: 'Merienda', cursive; font-size:1.4rem;">@Model.Name</h4>
            <h4 style="font-size:1.1rem;font-style:italic;margin:10px;">@Model.Email</h4>
        </div>
    </div>
</div>
<br />
<div align="center">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Dogs (@Model.MyDogs.Count())</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Saved Dogs (0)</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            @if (Model.MyDogs != null)
            {
                <div style="display:flex;flex-flow:row wrap">
                    @foreach (var dog in Model.MyDogs)
                    {
                        <div class="card" style="width: 22rem;margin:7px;">
                            <img class="card-img-top"
                                 style="align-items:center;justify-content:center;width:100%;"
                                 src="@dog.DogPicture" alt="@dog.Name">
                            <div class="card-body">
                                <div align="center">
                                    <h3 class="card-title">@dog.Name | @dog.Age</h3>
                                    <p class="card-text">@dog.Description</p>
                                    <p>
                                        <span>Sex: @dog.Sex</span> |
                                        <span>Weight: @dog.Weight</span> |
                                        <span>Height: @dog.Height</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            }

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <div style="display:flex;flex-flow:row wrap">
                @if (Model.SavedDogs != null)
                {
                    @foreach (var dog in Model.SavedDogs)
                    {
                        <div class="card" style="width: 22rem;margin:7px;">
                            <img class="card-img-top"
                                 style="align-items:center;justify-content:center;width:100%;"
                                 src="@dog.DogPicture" alt="@dog.Name">
                            <div class="card-body">
                                <div align="center">
                                    <h3 class="card-title">@dog.Name | @dog.Age</h3>
                                    <p class="card-text">@dog.Description</p>
                                    <p>
                                        <span>Sex: @dog.Sex</span> |
                                        <span>Weight: @dog.Weight</span> |
                                        <span>Height: @dog.Height</span>
                                    </p>
                                    <p>
                                        <span>OwnerID: @dog.OwnerId</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>

        </div>
    </div>
</div>
